@charset "UTF-8";

:root{
    --cor1: #BAF2D8;
    --cor2: #99B2DD;
    --cor3: #297373;
    --cor4: #204B57;
    --cor5: #FFBE86;
    --cor6: #ED9B40;

}

/*
Typical device brakepoints: tamanhos padrões de telas.
Extra Small (Phones): 600px and down
Small (Portrait Tablets/Large Phones): 600px and up
Medium (Landscape Tablets): 768px and up
Large (Laptops/Desktops): 992px and up
Extra Large (Large Laptops/Desktops): 1200px and up
*/

@media screen and (min-width: 770px) and (max-width:999px){

    body{
        background-image: linear-gradient(to right, var(--cor4), var(--cor1));
        font-size: 1.1em;
    }

    section#login{
        width: 80vw;
    }

    div#img{
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
    }
    
    div#formulario{
        float: right;
        width: 70%;
    }

    .campo input{
        background-color: #8fdaba;
        width: calc(100% - 65px);
        height: 40px;
        border: none;
        
    }    

    .campo > label{
    color: #094548;
    background-color: #8adfc3;
    margin-top: 3px;
    border-radius: 7px;
    padding: 6px 5px;
    font-size: 1em;
    }    
}



@media screen and (min-width: 999px){

    body{
        background-image: linear-gradient(to top, var(--cor4), var(--cor2));
    }

    section#login{
        width: 950px;
        font-size: 1.25em;
    }
    div#img{
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 15px 15px 0px;
    }
    div#formulario{
        float: left;
        width: 50%;
    }

    div.campo{
        background-color: #bff3f1;
        margin: 10px 0px;
        padding: 5px;
        border-radius: 10px;
    }

    div.campo span{
        color: #094548;
        background-color: #83d8d5;
        margin-top: 13px;
        border-radius: 7px;
        padding: 10px;
        font-size: 2.2em;
    }

    .campo input{
        background-color: #91ded9;
        width: calc(100% - 65px);
        border-radius: 0px 5px 5px 0px;
        height: 55px;
        border: none;
    }

    .campo > label{
        color: #094548;
        background-color: #8adfdf;
        margin-top: 3px;
        border-radius: 7px;
        padding: 13px 5px;
        font-size: 1em;
    }    


}

