@charset "UTF-8";

/*
Paleta:
#BAF2D8
#99B2DD
#297373
#204B57
#FFBE86
#ED9B40
*/

:root{
    --cor1: #BAF2D8;
    --cor2: #99B2DD;
    --cor3: #297373;
    --cor4: #204B57;
    --cor5: #FFBE86;
    --cor6: #ED9B40;

}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cor4);
    height: 100vh;
    width: 100vw;
    font-size: .9em
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 15px;
    width: 270px;
    height: 500px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.398);
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

div#img{
    border-radius: 15px 15px 0px 0px;
    background: #204B57 url('../imagens/building.jpg') left center no-repeat;
    background-size: cover;
    height: 170px;
    display: block;
}

div#formulario{
    display: block;
    padding: 10px;
}

div.campo{
    background-color: var(--cor1);
    margin: 10px 0px;
    padding: 5px;
    border-radius: 10px;
}

div.campo span{
    color: #094548;
    background-color: #83d8bc;
    margin-top: 5px;
    border-radius: 7px;
    padding: 10px;
    font-size: 2.2em;
}

.campo input{
    background-color: #73cdb8;
    width: calc(100% - 55px);
    border-radius: 0px 5px 5px 0px;
    height: 45px;
    border: none;
    margin-top: 0px;
}

.campo > label{
    color: #094548;
    background-color: #8adfc3;
    margin-top: 5px;
    border-radius: 7px;
    padding: 13px 5px;
    font-size: 1em;
}

a.button{
    display: block;
    margin: auto;
    width: 80%;
    height: 35px;
    margin-top: 15px;
    padding-top: 8px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--cor6);
    text-decoration: none;
    color: #b05e00;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

a.button:hover{
    background-color: var(--cor6);
    color: rgba(0, 0, 0, 0.74);
}

form > input[type=submit] {
    margin: auto;
    display: block;
    font-size: 1em;
    width: 80%;
    background-color: var(--cor3);
    border: none;
    color: white;
    height: 35px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.408);
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #139191;
}

.campo > input:focus-within{
    background-color: white;
    border: none;
}
